*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
/app/build
/app/.cxx
/app/gradle/wrapper/gradle-wrapper.properties
/app/local.properties
/app/gradle/wrapper/gradle-wrapper.jar
/app/gradlew
/app/gradlew.bat
.idea/caches/build_file_checksums.ser
.idea/modules.xml
/*.log
*.bin
*.lock
*.probe
.gradle/*
.gradle/**
*.bin
*.lock
